.card-blog {
    font-weight: 100;
    display: block;
    background-color: #ffffff;
    border-radius: 25px;
    width: 600px;
    @include sidemargins(350px, auto);
    color: map-get($colors, accent);
    &__image {
      padding: 30px;
    }
    &__content{
      float: right;
      text-align: left;
      padding-right: 50px;
      font-weight: 100;
      padding-top: 35px;
    }
    &__title {
    font-family: Carnivale;
    font-size: x-large;
    font-weight: 100;
  }
}

.lineup_container {
	color: map-get($colors, neutral);
	margin-top: 10px;
  @include sidemargins(350px, 350px);
	padding: 30px;
	border: 1px solid #e7e7e7;
	background-color: map-get($colors, accent);
	border-radius: 25px;
}
.lineup {
	th {
		font-family: Recoleta;
	}
	td {
		font-family: carnivale;
		margin-top: 100px;
		margin-bottom: 100px;
		padding: 0px 40px;
	}
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#headliner {
	font-size: x-large;
}
#second-row {
	font-size: large;
}
