
@font-face {
    font-family: Recoleta;
    src: url(../assets/font/Recoleta-Regular.ttf);
  }
  
  @font-face {
    font-family: Carnivale;
    src: url(../assets/font/carnevalee.ttf);
  }
  
  @font-face {
    font-family: Sonder;
    src: url(../assets/font/SonderRegular.otf);
  }
  